<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - AI Notes Manager</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="main-content" style="margin: auto; max-width: 500px;">

        <div class="section">

            <h2>Register</h2>

            <input type="text" id="username" placeholder="Enter Username"
                style="width:100%; padding:15px; margin-bottom:15px; border-radius:10px; border:none;">

            <input type="email" id="email" placeholder="Enter Email"
                style="width:100%; padding:15px; margin-bottom:15px; border-radius:10px; border:none;">

            <input type="password" id="password" placeholder="Enter Password"
                style="width:100%; padding:15px; margin-bottom:15px; border-radius:10px; border:none;">

            <button style="width:100%;" onclick="registerUser()">
                Register
            </button>

            <p style="margin-top:15px;">
                Already have an account?
                <a href="/login" style="color:#38bdf8;">
                    Login
                </a>
            </p>

        </div>

    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>